*{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
}

.form{
    box-shadow: 0 0em 1em #fff;
    border-top-left-radius: 23px;
    border-bottom-right-radius: 23px;
    max-width: 90%;
    margin: 3em auto;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    h2{
        font-weight: bold;
        text-align: center;
        
    }
    
    .input-section{
        padding-top: 2em;
        padding-bottom: 2em;
        box-shadow: 0 0em 2em #fff inset;
        border-top-left-radius: 23px;
        border-bottom-right-radius: 23px;
        border-top: 2px solid blue;
    
        .input{
            max-width: 80%;
            display: flex;
            margin: 0 auto;
            margin-top: 1em;
            justify-content: space-evenly;

    
            p{
                font-size: 1rem;
                font-weight: bold;
            }
    
            input{
                padding-left: 12px;
                margin-left: 12px;
                font-size: 1rem;
                font-weight: bold;
                border-radius: 6px;
            }
            
            input:focus{
                box-shadow: 0em 0em 0.8em #fff;
            }

            select{
                padding-left: 12em;
            }

        }

        .submit{
            margin: 2em auto;
            max-width: max-content;

            #get_location{
                font-size: 1rem;
                font-weight: bold;
                box-shadow: 0em 0em 0.5em #fff;
                border-radius: 6px;
                padding: 8px 16px;
            }

            #get_location:hover{
                box-shadow: 0em 0em 0.8em #fff;
            }
        }

        .location{
            text-align: center;
            max-width: 50%;
            margin: auto;
        }

    }

}
